<header slot="header">
  <a href="/" id="logo" style="color: var(--logo-color)" aria-label="That HTML Blog">
    <svg width="100%" height="100%" viewBox="0 0 448 102" version="1.1" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <g transform="matrix(1,0,0,1,-111.767,-145.764)">
    <g transform="matrix(0.998665,-0.0516505,0.0516505,0.998665,4.55619,115.817)">
    <g transform="matrix(64,0,0,64,124.537,109.204)">
    <path d="M0.673,-0.914C0.573,-0.937 0.386,-0.954 0.202,-0.941C0.183,-0.957 0.158,-0.969 0.134,-0.969C0.084,-0.968 0.08,-0.953 0.08,-0.927C-0.114,-0.897 -0.281,-0.826 -0.306,-0.682C-0.311,-0.653 -0.284,-0.662 -0.28,-0.685C-0.267,-0.764 -0.112,-0.805 0.074,-0.821C0.058,-0.568 0.026,0.05 0.215,0.045C0.279,0.044 0.219,-0.004 0.215,-0.162C0.211,-0.331 0.233,-0.697 0.24,-0.829C0.413,-0.831 0.585,-0.817 0.679,-0.795C0.726,-0.784 0.758,-0.751 0.763,-0.784C0.769,-0.816 0.73,-0.901 0.673,-0.914Z" style="fill:rgb(254,101,105);fill-rule:nonzero;"/>
    </g>
    <g transform="matrix(62,0,0,62,147.385,109.204)">
    <path d="M0.383,0.032C0.383,-0.061 0.401,-0.243 0.401,-0.325C0.401,-0.406 0.288,-0.43 0.252,-0.43C0.222,-0.43 0.162,-0.198 0.143,-0.091C0.133,-0.12 0.125,-0.159 0.125,-0.208C0.125,-0.419 0.187,-0.698 0.187,-0.743C0.187,-0.789 0.108,-0.803 0.08,-0.803C0.039,-0.803 0.052,-0.764 0.052,-0.749C0.052,-0.702 -0.092,0.003 0.136,0.003C0.168,0.003 0.179,-0 0.178,-0.01C0.183,-0.013 0.186,-0.018 0.186,-0.025C0.186,-0.118 0.247,-0.393 0.247,-0.393C0.247,-0.393 0.286,-0.377 0.286,-0.329C0.286,-0.28 0.254,-0.071 0.254,0.073C0.254,0.218 0.405,0.215 0.405,0.179C0.405,0.164 0.383,0.148 0.383,0.032Z" style="fill:rgb(254,101,105);fill-rule:nonzero;"/>
    </g>
    <g transform="matrix(62,0,0,62,176.215,109.204)">
    <path d="M0.572,-0.362C0.565,-0.34 0.455,-0.024 0.434,-0.024C0.401,-0.024 0.407,-0.216 0.404,-0.284L0.404,-0.3C0.404,-0.321 0.379,-0.349 0.318,-0.349C0.258,-0.349 0.258,-0.313 0.258,-0.293C0.258,-0.241 0.195,-0.032 0.165,-0.032C0.135,-0.032 0.131,-0.092 0.131,-0.129C0.131,-0.313 0.218,-0.491 0.316,-0.491C0.353,-0.491 0.36,-0.41 0.36,-0.387C0.36,-0.365 0.396,-0.377 0.396,-0.391C0.396,-0.537 0.323,-0.537 0.22,-0.537C0.072,-0.537 0,-0.323 0,-0.192C0,-0.053 0.064,-0 0.143,-0C0.222,-0 0.26,-0.152 0.268,-0.152C0.275,-0.152 0.298,0.043 0.392,0.043C0.399,0.043 0.405,0.042 0.408,0.04C0.493,0.01 0.591,-0.334 0.596,-0.357C0.601,-0.382 0.578,-0.383 0.572,-0.362Z" style="fill:rgb(254,101,105);fill-rule:nonzero;"/>
    </g>
    <g transform="matrix(62,0,0,62,204.239,109.204)">
    <path d="M0.65,-0.699C0.572,-0.699 0.413,-0.692 0.241,-0.691L0.247,-0.725C0.255,-0.781 0.261,-0.822 0.261,-0.842C0.261,-0.917 0.139,-0.979 0.139,-0.883C0.139,-0.861 0.127,-0.801 0.112,-0.722L0.106,-0.692C-0.023,-0.696 -0.149,-0.705 -0.248,-0.725C-0.262,-0.728 -0.273,-0.715 -0.252,-0.701C-0.202,-0.667 -0.131,-0.619 -0.032,-0.607C0.002,-0.603 0.044,-0.601 0.09,-0.602C0.07,-0.484 0.051,-0.353 0.051,-0.251C0.051,-0.033 0.141,0.084 0.201,0.084C0.261,0.084 0.174,0.062 0.174,-0.204C0.174,-0.302 0.202,-0.468 0.227,-0.609C0.39,-0.622 0.567,-0.65 0.648,-0.675C0.673,-0.683 0.679,-0.698 0.65,-0.699Z" style="fill:rgb(254,101,105);fill-rule:nonzero;"/>
    </g>
    <g transform="matrix(64,0,0,64,240.415,113.204)">
    <path d="M0.4,-0.509C0.445,-0.561 0.289,-0.603 0.222,-0.518C0.203,-0.499 0.147,-0.441 0.124,-0.419C0.09,-0.384 0.062,-0.359 0.041,-0.342C-0.015,-0.294 0.103,-0.209 0.145,-0.166C0.168,-0.143 0.249,-0.07 0.268,-0.051C0.295,-0.025 0.38,-0.053 0.357,-0.077C0.344,-0.09 0.268,-0.159 0.207,-0.22C0.188,-0.238 0.15,-0.275 0.156,-0.28C0.182,-0.302 0.214,-0.333 0.259,-0.371C0.325,-0.427 0.388,-0.495 0.4,-0.509Z" style="fill:rgb(254,101,105);fill-opacity:0.67;fill-rule:nonzero;"/>
    </g>
    <g transform="matrix(72,0,0,72,270.815,115.204)">
    <path d="M0.383,0.032C0.383,-0.061 0.401,-0.243 0.401,-0.325C0.401,-0.406 0.288,-0.43 0.252,-0.43C0.222,-0.43 0.162,-0.198 0.143,-0.091C0.133,-0.12 0.125,-0.159 0.125,-0.208C0.125,-0.419 0.187,-0.698 0.187,-0.743C0.187,-0.789 0.108,-0.803 0.08,-0.803C0.039,-0.803 0.052,-0.764 0.052,-0.749C0.052,-0.702 -0.092,0.003 0.136,0.003C0.168,0.003 0.179,-0 0.178,-0.01C0.183,-0.013 0.186,-0.018 0.186,-0.025C0.186,-0.118 0.247,-0.393 0.247,-0.393C0.247,-0.393 0.286,-0.377 0.286,-0.329C0.286,-0.28 0.254,-0.071 0.254,0.073C0.254,0.218 0.405,0.215 0.405,0.179C0.405,0.164 0.383,0.148 0.383,0.032Z" style="fill:rgb(254,101,105);fill-rule:nonzero;"/>
    </g>
    <g transform="matrix(72,0,0,72,301.991,115.204)">
    <path d="M0.65,-0.699C0.572,-0.699 0.413,-0.692 0.241,-0.691L0.247,-0.725C0.255,-0.781 0.261,-0.822 0.261,-0.842C0.261,-0.917 0.139,-0.979 0.139,-0.883C0.139,-0.861 0.127,-0.801 0.112,-0.722L0.106,-0.692C-0.023,-0.696 -0.149,-0.705 -0.248,-0.725C-0.262,-0.728 -0.273,-0.715 -0.252,-0.701C-0.202,-0.667 -0.131,-0.619 -0.032,-0.607C0.002,-0.603 0.044,-0.601 0.09,-0.602C0.07,-0.484 0.051,-0.353 0.051,-0.251C0.051,-0.033 0.141,0.084 0.201,0.084C0.261,0.084 0.174,0.062 0.174,-0.204C0.174,-0.302 0.202,-0.468 0.227,-0.609C0.39,-0.622 0.567,-0.65 0.648,-0.675C0.673,-0.683 0.679,-0.698 0.65,-0.699Z" style="fill:rgb(254,101,105);fill-rule:nonzero;"/>
    </g>
    <g transform="matrix(72,0,0,72,322.151,115.204)">
    <path d="M0.606,-0.186C0.606,-0.252 0.619,-0.302 0.619,-0.335C0.619,-0.389 0.561,-0.402 0.51,-0.402C0.459,-0.402 0.391,-0.158 0.38,-0.158C0.368,-0.158 0.459,-0.562 0.287,-0.562C0.2,-0.562 0.139,-0.243 0.118,-0.118C0.117,-0.129 0.117,-0.142 0.117,-0.157C0.117,-0.229 0.128,-0.297 0.128,-0.355C0.128,-0.413 -0.013,-0.43 -0.013,-0.4C-0.013,-0.385 -0.001,-0.385 -0.001,-0.37C-0.001,-0.266 -0.021,0.011 0.117,0.011C0.142,0.011 0.141,0.002 0.134,-0.025C0.166,-0.142 0.209,-0.508 0.267,-0.508C0.3,-0.508 0.247,-0.208 0.247,-0.118C0.247,-0.029 0.329,-0.014 0.362,-0.014C0.395,-0.014 0.475,-0.268 0.475,-0.268C0.475,-0.268 0.473,0.004 0.604,0.004C0.646,0.004 0.606,-0.041 0.606,-0.186Z" style="fill:rgb(254,101,105);fill-rule:nonzero;"/>
    </g>
    <g transform="matrix(72,0,0,72,371.543,115.204)">
    <path d="M0.053,-0.84C0.056,-0.791 -0.007,-0.376 0.002,-0.193C0.01,-0.011 0.109,0.083 0.165,0.08C0.222,0.078 0.139,0.062 0.128,-0.16C0.122,-0.305 0.183,-0.749 0.18,-0.812C0.177,-0.874 0.05,-0.921 0.053,-0.84Z" style="fill:rgb(254,101,105);fill-rule:nonzero;"/>
    </g>
    <g transform="matrix(64,0,0,64,385.583,115.204)">
    <path d="M0.043,-0.088C-0.003,-0.036 0.153,0.006 0.22,-0.079C0.24,-0.098 0.295,-0.156 0.318,-0.178C0.352,-0.213 0.38,-0.238 0.401,-0.255C0.457,-0.303 0.339,-0.388 0.297,-0.431C0.274,-0.454 0.193,-0.527 0.174,-0.546C0.148,-0.572 0.062,-0.544 0.085,-0.52C0.098,-0.507 0.174,-0.438 0.235,-0.377C0.254,-0.359 0.292,-0.322 0.287,-0.317C0.26,-0.295 0.228,-0.264 0.183,-0.226C0.117,-0.17 0.055,-0.102 0.043,-0.088Z" style="fill:rgb(254,101,105);fill-opacity:0.67;fill-rule:nonzero;"/>
    </g>
    <g transform="matrix(64,0,0,64,433.519,117.204)">
    <path d="M0.398,-0.4C0.363,-0.409 0.318,-0.421 0.274,-0.431C0.476,-0.596 0.64,-0.93 0.333,-0.93C0.053,-0.93 -0.245,-0.538 -0.151,-0.538C-0.126,-0.538 0.021,-0.876 0.335,-0.876C0.586,-0.876 0.368,-0.558 0.171,-0.501C0.207,-0.607 0.256,-0.68 0.256,-0.705C0.256,-0.746 0.19,-0.767 0.142,-0.767C0.105,-0.767 0.033,-0.548 0.033,-0.372C0.033,-0.282 0.088,-0.131 0.131,-0.131C0.176,-0.131 0.135,-0.171 0.135,-0.293C0.135,-0.306 0.135,-0.318 0.137,-0.331C0.143,-0.322 0.15,-0.313 0.16,-0.31C0.191,-0.301 0.456,-0.309 0.526,-0.244C0.307,-0.171 -0.13,-0.013 -0.13,0.077C-0.13,0.155 -0.044,0.187 0.058,0.187C0.25,0.187 0.555,0.007 0.592,-0.123C0.639,-0.281 0.49,-0.372 0.398,-0.4ZM0.543,-0.193C0.514,-0.094 0.196,0.052 -0.004,0.052C-0.181,0.052 0.307,-0.139 0.542,-0.225C0.545,-0.215 0.547,-0.204 0.543,-0.193Z" style="fill:rgb(254,101,105);fill-rule:nonzero;"/>
    </g>
    <g transform="matrix(62,0,0,62,475.375,117.204)">
    <path d="M0.053,-0.84C0.056,-0.791 -0.007,-0.376 0.002,-0.193C0.01,-0.011 0.109,0.083 0.165,0.08C0.222,0.078 0.139,0.062 0.128,-0.16C0.122,-0.305 0.183,-0.749 0.18,-0.812C0.177,-0.874 0.05,-0.921 0.053,-0.84Z" style="fill:rgb(254,101,105);fill-rule:nonzero;"/>
    </g>
    <g transform="matrix(62,0,0,62,488.705,117.204)">
    <path d="M0.225,-0.531C0.178,-0.531 0.117,-0.524 0.093,-0.457C0.02,-0.441 0.002,-0.325 0.002,-0.231C0.002,-0.13 0.03,0.004 0.148,0.004C0.279,0.004 0.33,-0.17 0.33,-0.323C0.33,-0.475 0.283,-0.531 0.225,-0.531ZM0.198,-0.049C0.136,-0.049 0.164,-0.212 0.163,-0.333C0.199,-0.365 0.186,-0.47 0.218,-0.47C0.325,-0.47 0.261,-0.049 0.198,-0.049Z" style="fill:rgb(254,101,105);fill-rule:nonzero;"/>
    </g>
    <g transform="matrix(62,0,0,62,512.823,117.204)">
    <path d="M0.438,0.1C0.398,0.081 0.317,0.064 0.234,0.057C0.238,0.027 0.241,-0.004 0.241,-0.026C0.328,-0.09 0.381,-0.246 0.381,-0.305C0.381,-0.38 0.316,-0.39 0.316,-0.367C0.316,-0.248 0.279,-0.153 0.235,-0.098C0.226,-0.136 0.211,-0.165 0.188,-0.165C0.18,-0.165 0.173,-0.106 0.169,-0.047C0.13,-0.036 0.098,-0.065 0.098,-0.147C0.098,-0.391 0.288,-0.48 0.288,-0.502C0.288,-0.523 0.276,-0.596 0.19,-0.596C0.138,-0.596 -0.004,-0.387 -0.004,-0.247C-0.004,-0.068 0.095,0.001 0.165,0.001L0.166,0.001C0.165,0.019 0.165,0.035 0.165,0.048L0.165,0.054C0.08,0.054 0.006,0.067 -0.011,0.103C-0.032,0.149 -0.002,0.198 0.013,0.205C0.024,0.21 0.096,0.186 0.187,0.173C0.19,0.177 0.193,0.179 0.197,0.179C0.199,0.179 0.203,0.176 0.206,0.171C0.282,0.162 0.37,0.163 0.443,0.198C0.497,0.223 0.51,0.266 0.494,0.301C0.393,0.516 -0.305,0.592 -0.238,0.449C-0.19,0.347 0.013,0.346 0.025,0.321C0.037,0.295 -0.263,0.314 -0.303,0.427C-0.327,0.497 -0.213,0.604 -0.169,0.625C0.042,0.724 0.481,0.497 0.545,0.361C0.567,0.313 0.56,0.157 0.438,0.1Z" style="fill:rgb(254,101,105);fill-rule:nonzero;"/>
    </g>
    </g>
    </g>
    </svg>
  </a>
</header>

<nav slot="navbar">
  <ul>
    <li><a href="<%= relative_url '/about' %>">
      <sl-icon library="remixicon" name="User & Faces/user-3-line"></sl-icon> About
    </a></li>
    <li><a href="<%= relative_url '/contact' %>">
      <sl-icon library="remixicon" name="Communication/message-2-line"></sl-icon> Contact
    </a></li>
  </ul>
</nav>
