<footer wlm-prose slot="footer">
  <p>The content throughout this blog is hand-curated by me, <a href="https://indieweb.social/@jaredwhite">Jared White</a>, and is Copyright © <%= Date.today.strftime("%Y") %>. Articles excerpted and linked to are under copyright by their respective authors unless otherwise indicated.</p>

  <p><a href="#top">Return to Top</a> 🔝</p>

  <p>To the extent I have any control over this, no “large language” machine learning model or any “AI” training dataset may include <em>any</em> of the content on this website.</p>

  <p><a href="https://notbyai.fyi"><img src="/images/Written-By-Human-Not-By-AI-Badge-white.svg" style="height: 42px" alt="Written by Human, Not by AI"></a></p>

  <p>This blog stands in solidarity with all other bloggers in the blogosphere valiantly rebuilding after the devastation wrought by Big Social. <em>Long live the indie web!</em></p>
</footer>
