<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<%= seo %>
<meta name="fediverse:creator" content="@jaredwhite@indieweb.social" />
<%= feed_meta %>

<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="stylesheet" href="<%= asset_path :css %>" />
<script src="<%= asset_path :js %>" defer></script>
<script defer data-domain="thathtml.blog" src="https://plausible.io/js/script.js"></script>
<%= live_reload_dev_js %>
