<aside wlm-prose slot="sidebar-intro">
  <p style="font-weight: bold">by Jared White</p>

  <p>That HTML Blog is the <em>fresh place to be</em> for posts about developing websites &amp; applications using “vanilla” &amp; standards-adjacent web technologies. Got a rad link to feature on the blog? <a href="/contact" style="font-weight:bold; white-space: nowrap">Send it our way!</a></p>

  <script type="module" src="<%= asset_path 'islands/pagefind.js' %>"></script>
  <pagefind-search _show_images="false"></pagefind-search>
</aside>
