<aside slot="sidebar-links">
  <h2>Follow</h2>

  <nav>
    <ul>
      <li><a href="/feed.xml">
        <sl-icon library="remixicon" name="Device/rss-fill"></sl-icon> Newsfeed
      </a></li>
      <li><a href="https://indieweb.social/@jaredwhite" target="_blank">
        <sl-icon library="remixicon" name="Logos/mastodon-fill"></sl-icon> @jaredwhite
      </a></li>
    </ul>
  </nav>

  <p>Get this: a weekly digest of thrilling links sent right to your inbox. w00t! 🙌</p>

  <form action="https://buttondown.email/api/emails/embed-subscribe/thathtmlblog" method="post">
    <p>
      <label>Email address <br/>
      <input placeholder="me@example.com" type="email" name="email"></label>
    </p>
    <p>
      <label>First name (Optional) <br/>
      <input type="text" name="metadata__first_name"></label>
    </p>

    <p style="margin-block-start: var(--wlm-grid-column-spacing)">
      <button type="submit">
        <sl-icon library="remixicon" name="Business/mail-send-line"></sl-icon>
        Subscribe
      </button>
    </p>

    <p style="opacity:0.75"><small>No spam, I promise. Just web dev links!<br /><a href="https://buttondown.com/thathtmlblog/archive/" style="font-weight: bold">Visit the Archives</a></small></p>
  </form>


  <h2 style="margin-block-start: var(--wlm-grid-row-spacing)">See Also</h2>

  <nav>
    <ul>
      <li><a href="https://www.spicyweb.dev">
        <sl-icon library="remixicon" name="Weather/fire-line"></sl-icon> The Spicy Web
      </a></li>
      <li><a href="https://intuitivefuture.com/@vanillaweb" rel="me">
        <sl-icon library="remixicon" name="Logos/mastodon-fill"></sl-icon> @vanillaweb
      </a></li>
      <li><a href="https://justaspec.show">
        <sl-icon library="remixicon" name="Media/mic-2-line"></sl-icon> Just a Spec Podcast
      </a></li>
      <li><a href="https://www.fullstackruby.dev">
        <sl-icon library="remixicon" name="Finance/vip-diamond-line"></sl-icon> Fullstack Ruby
      </a></li>
    </ul>
  </nav>
</aside>
