<article<% if post_level == :h1 %> data-pagefind-body<% end %>>
  <<%= post_level %> class="post-title">
    <% if post.data.link_url %>
      <a href="<%= post.data.link_url %>" target="_blank">
        <%= post.data.title %>
        <sl-icon library="remixicon" name="System/external-link-fill" style="color: var(--logo-color)"></sl-icon>
      </a>
    <% else %>
      <a href="<%= post.relative_url %>"><%= post.data.title %></a>
    <% end %>
  </<%= post_level %>>

  <p class="post-metadata">
    <time datetime="<%= post.date.dup.utc.iso8601 %>"><%= post.date.strftime("%B %-d, %Y") %></time>
    &nbsp;
    <a href="<%= post.absolute_url %>" style="text-decoration:none">
      <sl-icon library="remixicon" name="Editor/link-m"></sl-icon>
      Permalink
    </a>
  </p>

  <%= content %>
</article>
